* {

    font-family: Tahoma;
}

header, footer {
    background-color: maroon;
    color: white;
    padding: 10px;
}

main {
    display: flex;
}

section {
    width: 50%;
    height: 500px;
}

.left {
    background-color: lightsalmon;
}
.right {
    background-color: darksalmon;
}

h1,h2,h3 {
    text-align: center;
}

table, td {
    width: 85%;
    border: solid 1px maroon;
    border-collapse: ;
}

ol {
    list-style: none;
}

button {
    background-color: maroon;
    color: white;
    margin-left: 20px;
    padding: 10px;
    border: none;
    border-radius: 20px;
}

button:hover {
    background-color: white;
    color: maroon;
}